body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* BOX LAYOUT -------------------------------------------------------------- */
.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto auto auto;
    grid-gap: 1px;
    justify-content: center;
    align-content: center;
}

/* TITLEBAR ---------------------------------------------------------------- */
.box-titlebar {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NAV -------------------------------------------------------------------- */
.box-nav {
    grid-column: 1;
    grid-row: 2 / span 2;
    white-space: pre-line;
    overflow-wrap: break-word;
    padding-right: 40px;
}

/* INTRO ------------------------------------------------------------------ */
.box-intro {
    grid-column: 2;
    grid-row: 2;
    width: 550px;
    white-space: pre-line;
    overflow-wrap: break-word;
    display: flex;
    align-items: flex-start;
}

.box-intro img {
    width: 110px;
    height: auto;
    margin-right: 10px;
}

.box-pfp {
    border: 1px solid #2F2739;
    background-color: #110E15;
    padding: 1px;
}

.intro-text {
    flex: 1;
}

/* UPDATES ---------------------------------------------------------------- */
.box-updates {
    width: 550px;
    white-space: pre-line;
    overflow-wrap: break-word;
}

/* MARQUEE ---------------------------------------------------------------- */
.box-marquee {
    grid-column: 1 / span 2;
    grid-row: 4;
    height: 41px;
    padding: 0;
}

.marquee-container {
    height: 100%;
    border-right: 4px solid #00000000;
    border-left: 4px solid #00000000;
    overflow: hidden;
    position: relative;
}

.marquee {
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

.marquee img {
    margin-right: 6px;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}
