/* BOX LAYOUT -------------------------------------------------------------- */
.container {
    display: grid;
    gap: 1px;
    grid-template-columns: 140px 550px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "box-title box-title"
    "box-nav box-updates"
    "box-marquee box-marquee";
}


/* TITLEBAR ---------------------------------------------------------------- */
.box-title {
    grid-area: box-title;
}

/* NAV -------------------------------------------------------------------- */
.box-nav { 
    grid-area: box-nav;
}

.nav-title { 
    text-decoration: underline;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 4px;
    text-align: left;
}

/* UPDATES ---------------------------------------------------------------- */
.box-updates { 
    grid-area: box-updates;
}

/* MARQUEE ---------------------------------------------------------------- */
.box-marquee {
    grid-area: box-marquee;
    padding: 4px;
}

.container-marquee {
    align-items: center;
    overflow: hidden;
    display: flex;
}

.marquee {
    animation: marquee 20s linear infinite;
    display: flex;
}

.marquee img {
    margin-right: 4px;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}