/* GENERAL ----------------------------------------------------------------- */
:root {
    --primary: #80778c;
    --secondary: #2F2739;
    --backround: #110E15;
    --text: #cfcfcf;
    --alert: red;
    --hyperlink: #AA9ABF;
    --hyperlink-hover: #756C80;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "MS PGothic", sans-serif;
    font-size: .9rem;
    letter-spacing: .03rem;
    line-height: 1.2rem;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}

body {
    color: var(--text);
    background-color: var(--backround);
    background-image: url('background/bg.png');
    background-attachment: fixed;
    background-position: left;
    cursor: url('cursor/cur1.png'), auto !important;
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 4px;
}

input, textarea {
    cursor: url('cursor/cur3.png') 4 7, auto !important;
    caret-color: var(--primary);
    border: none;
    background: none;
    resize: none;
    color: var(--text);
}

textarea:focus, input:focus {
    outline: none;
}

button {
    cursor: url('cursor/cur2.png'), auto !important;
    border: none;
    background-color: transparent;
}

::selection {
    background: var(--primary);
    color: black;
}

/* SCROLLBAR --------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

/* BOX --------------------------------------------------------------------- */
.box {
    border: 1px solid var(--secondary);
    background-color: var(--backround);
    padding: 10px;
}

/* TITLEBAR ---------------------------------------------------------------- */
.box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0px; 
    background-origin: border-box;
    background-image: url('misc/titlebar.png');

}

.title-text {
    font-weight: bold;
}

/* NAV --------------------------------------------------------------------- */
.nav-title { 
    text-decoration: underline;
    font-weight: bold;
}

/* HYPERLINK --------------------------------------------------------------- */
a {
    text-decoration: none;
    color: #AA9ABF;
    cursor: url('cursor/cur2.png'), auto !important;
}

a:hover {
    color: var(--hyperlink-hover);
    text-decoration: underline;
}

a.current {
    color: var(--hyperlink-hover);
    pointer-events: none;
}