* {
    box-sizing: border-box;
}

body {
    color: #cfcfcf;
    background-color: #110E15;
    font-family: "MS PGothic", sans-serif;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    cursor: url('cur1.png'), auto !important;
    background-image: url('dithered.png');
    background-attachment: fixed;
}

/* BOX STYLING ------------------------------------------------------------- */
.box {
    border: 1px solid #2F2739;
    background-color: #110E15;
    padding: 10px;
}

/* TITLEBAR ---------------------------------------------------------------- */
.box-titlebar {
    background-origin: border-box;
    background-image: url('titlebar.png');
}

/* HYPERLINKS -------------------------------------------------------------- */
a {
    text-decoration: none;
    color: #AA9ABF;
    cursor: url('cur2.png'), auto !important;
}

a:hover {
    color: #756C80;
    text-decoration: underline;
}

a.current {
    color: #756C80;
    pointer-events: none;
}