/* BOX LAYOUT -------------------------------------------------------------- */
.container {
    display: grid;
    gap: 1px;
    grid-template-columns: 140px 550px;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:

    "box-title box-title"
    "box-nav box-intro"
    "box-nav box-todo"
    "box-nav box-updates"
    "box-marquee box-marquee";
}

/* TITLEBAR ---------------------------------------------------------------- */
.box-title {
    grid-area: box-title;
}

/* NAV -------------------------------------------------------------------- */
.box-nav { 
    grid-area: box-nav;
}

/* INTRO ------------------------------------------------------------------ */
.box-intro { 
    grid-area: box-intro; 
    display: flex;
    gap: 10px;
}

.box-pfp {
    border: 1px solid var(--secondary);
    padding: 1px;
    width: 100px;
    height: 100px;
}

.intro-text {
    flex: 1;
}

/* CHAT ------------------------------------------------------------------- */
.box-boc {
    grid-area: box-boc;
}

/* UPDATES ---------------------------------------------------------------- */
.box-updates { 
    grid-area: box-updates;
}

/* MARQUEE ---------------------------------------------------------------- */
.box-marquee {
    grid-area: box-marquee;
    padding: 4px;
}

.container-marquee {
    align-items: center;
    overflow: hidden;
    display: flex;
}

.marquee {
    animation: marquee 20s linear infinite;
    display: flex;
}

.marquee img {
    margin-right: 4px;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}